---
import Layout from '../layouts/Layout.astro';
import Lists from "../components/lists.astro"
import Item from "../components/item.astro"
import '../styles/global.css';
const posts = [{ title: "my life" }, {title: "my life2"}, {title: "my life 3"}]
---

<Layout title="Welcome to Astro.">
	<main>
		<h1  class="text-sm">Welcome to <span class="text-gradient">もりけん塾</span></h1>
    <Lists>
		<p slot="fallbackaa">aaa</p>
		  <Item posts={posts} slot="item"/>
			<img src="https://terracetech.jp/wp-content/uploads/2023/02/astro.png" slot="img"/>
  
		</Lists>
	</main>
</Layout>

