---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

---

<Layout title="page">
  <main>
    <h1>Welcome to <span class="text-gradient">Page<span></h1>
    page
  </main>
</Layout>

<script is:inline src="https://cdn.jsdelivr.net/npm/date-fns@2.29.3/+esm"></script>
<script src="../scripts/page.js" />
<script src="../scripts/page.ts" />


